{% extends "index.html" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Divide</title>
    </head>

    <body>
        {% block form %}


        <form method="post" action="{{ url_for('form') }}">
            {{ form.hidden_tag() }}

            {{ form.number.label }} {{ form.number() }}
            {% if form.number.errors %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                        Error: {{ ', '.join(form.number.errors) }}
                </div>
            {% endif %}

            {{ form.divide_by.label }} {{ form.divide_by() }}
            {% if form.divide_by.errors %}
               <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                        Error: {{ ', '.join(form.divide_by.errors) }}
                </div>
                
            {% endif %}

            <button type="submit" class="btn btn-primary btn-xs">Do the math</button>
        </form>
        {% if result %}        
            <p>Result is: {{ result }}</p>
        {% endif %}
        

        
        
        {% endblock %}
    </body>
</html>



